

#galeria{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
  
}
#galeria div{
    display: block;
}
