
#galeria-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.carta{

    width: 20vw;
    height:30vh;
    min-width: 300px;
    background-color: yellowgreen;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.carta:hover{
    cursor: pointer;
}

body.dark .carta{
    background-color:rgb(141, 30, 30) ;
    color: white;
}
