#juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    max-width: 600px;
    height: 80vh;
    background-color: white;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
}

#juego img{
max-height: 200px;
max-width: 300px;

}

h1{
  font-size: 20px;
  width: 100%;
  background-color: yellowgreen;
  text-align: center;
  padding: 10px;

}
#word-display{
    width: 100%;
    height: 20%;
    background-color: rgb(139, 134, 134);
    padding: 10px;
}
#error-display{
    width: 100%;
    height: 30%;
    background-color: rgb(150, 189, 240);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#keyboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 80%;
    width: 100%;
     
    padding: 10px;
    background-color: grey;
   
  }
  
  /* Estilos para los botones */
.letra {
    padding: 5px;
    background-color: #0074D9;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    margin: 5px;
    min-width: 5vw;
  
  }

#imagen-contador{
  width: 700px ;
  height: 90%;
}
  
 
  #keyboard button:hover {
    background-color: #d9e2eb;
  }

  #word-display{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
h2{
  
  width: 100%;
  text-align: center;
}
  #vuelta-inicio, #juego-nuevo{
    width: 60%;
    padding: 10px;
    background-color: yellowgreen;
    border-radius: 20px;
    cursor: pointer;
  }

  #vuelta-inicio:hover{
    background-color: green;
    color: white;
  }
  
  #juego-nuevo:hover{
    background-color: green;
    color: white;
  }

  body.dark #vuelta-inicio{
    
    background-color:rgb(141, 30, 30);
   
    color: white;
}
body.dark #juego-nuevo{
    background-color:rgb(141, 30, 30);
    
    color: rgb(241, 235, 241);
}
  
body.dark h1{
    background-color:rgb(141, 30, 30);
    
    color: rgb(241, 235, 241);
}
  
body.dark .letra{
    background-color:rgb(141, 30, 30);
    
    color: rgb(241, 235, 241);
}
body.dark #error-display{
 
  background-color: rgb(184, 118, 91);
  
}
  

