* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  & main {
    
    min-height: 90vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & #app {
    min-height: 70vh;
  }
  & body {
    transition: ease-in-out 0.2s;
    display: flex;
    flex-direction: column;
    background: rgb(4,4,4);
background: linear-gradient(180deg, rgba(4,4,4,1) 0%, rgba(178,55,191,1) 71%, rgba(235,224,224,1) 100%);
  }
}

body.dark main{
  background: rgb(141,30,30);
background: linear-gradient(180deg, rgba(4,4,4,1) 24%, rgba(77,77,77,1) 100%);
}