:root {
  --color-primario: #801b7a; 
  --color-secundario: yellowgreen; 
  --color-terciario: #3373ff; 
  --color-fondo: #0e0e0e; 
  --color-texto: #ffffff; 
  --color-destacado: #ffcc33; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main{
  background-color: var(--color-fondo);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}










body.dark main{
  background: rgb(141,30,30);
background: linear-gradient(180deg, rgba(4,4,4,1) 24%, rgba(77,77,77,1) 100%);
}