#un-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-direction: column;
}
#contenedor-juego{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(153, 153, 153);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 40px;
    min-width: 340px;
    border-radius: 10px;
    
}


.tarjeta{
    width: 7vw;
    height:18vh;
    min-width: 70px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    transition: transform 0.5s;
   
  
}


.girada{
    z-index: 0;
    transform: rotateY(180deg);
    border: 5px solid rgb(126, 126, 44);
}