header{
  background-color: var(--color-secundario);
  color: var(--color-texto);

  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

#logo{
  height: 50%;
  width: 60%;
  padding: 5px;
  max-width: 400px;
  max-height: 35px;
}

nav{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1vh;
  gap: 10px;
  max-width: 500px;
}

nav img{
 width: 10vw;
 max-width: 100px;
 max-height: 30px;
}

body.dark header{
  background-color:rgb(141,30,30) ;
}